<form class="col-sm-12 col-md-12 col-lg-6"  #addBookForm="ngForm" (ngSubmit)="addBook(addBookForm)">
    <h3 class="text-center">Add new Book</h3>
    <div class="form-group mb-4">
        <label >Book Name</label>
        <input type="text" placeholder="Enter Book Name" class="form-control" id="bookname" name="bookname" ngModel required/>
    </div>
    <div class="form-group mb-4">
        <label >Author Name</label>
        <input type="text" placeholder="Enter Author Name" class="form-control" id="author" name="author" ngModel required/>
    </div>
    <div class="form-group mb-4">
        <label for="year">Publishing Year</label>
        <input type="date" placeholder="Enter Publishing Year" class="form-control" id="year" name="Year" ngModel required/>
    </div>
    <div class="form-group mb-4">
        <label for="Language">Language</label>
        <input type="text" placeholder="Enter Language" class="form-control" id="Language" name="Language" ngModel required/>
    </div>
    
    <button type="submit" class="btn btn-primary">AddBook</button>

</form>